<br /><br />
<div class="container">
  <div *ngIf="messageService.messages.length">

    <h4>Log de Erros:</h4>
    <button class="clear" (click)="messageService.clear()">clear</button>
    <div *ngFor='let message of messageService.messages'> {{ message }} </div>

  </div>
</div>
