<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputLogin">Login</label>
        <input type="text" class="form-control" id="inputLogin" placeholder="login">
      </div>
      <div class="form-group col-md-6">
        <label for="inputNip">NIP</label>
        <input type="text" class="form-control" id="inputNip" placeholder="NIP">
      </div>
    </div>
    <div class="form-group">
      <label for="inputNome">Nome de Guerra</label>
      <input type="text" class="form-control" id="inputNome" placeholder="Nome de Guerra">
    </div>
    <button type="button" class="btn btn-dark">Pesquisar</button>
  </form>
  <br>

  <div class="ui-g">

    <p-table *ngIf="users$ | async as usuarios; else loading"
             [value]="usuarios"
             [paginator]="true" [rows]="4">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 30px">#</th>
          <th class="col-om">Login</th>
          <th class="col-ativo">NIP</th>
          <th>Nome de Guerra</th>
          <th style="width: 140px">Posto/Graduação</th>
          <th class="col-ativo">Ativo</th>
          <th class="col-om">OM</th>
          <th class="col-om">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-user let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ user.login }}</td>
          <td>{{ user.nip }}</td>
          <td>{{ user.nomeGuerra }}</td>
          <td>{{ user.postoGraduacao?.nome }}</td>
          <td>
              <span [style.color]="user.ativo === true ? 'blue' : 'red'">
                {{ user.ativo }}
              </span>
          </td>
          <td>{{ user.organizacaoMilitar?.sigla }}</td>
          <td>
            <a pButton class="ui-button-info" icon="fa fa-pencil"></a>
            <p-button icon="fa fa-trash" styleClass="ui-button-danger"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <ng-template #loading>
      <span>Carregando Usuários...</span>
    </ng-template>

  </div>
</div>
