<div class="pos-f-t">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark "
       style="background-color: #3f51b5">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="assets/img/auction4.svg" width="30" height="30" class="d-inline-block align-center">
        SICOP
      </a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
           [ngClass]="{ 'show': navbarOpen }"
           id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">Licitações</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="#">Contratos</a>
          </li>
          <li class="nav-item dropdown" routerLinkActive="active" ngbDropdown>

            <a class="nav-link dropdown-toggle" role="button" id="dropdown04" ngbDropdownToggle>Parâmetros</a>

            <div class="dropdown-menu" aria-labelledby="dropdown04" ngbDropdownMenu>
              <a class="dropdown-item" routerLinkActive="active" routerLink="/usuarios">Usuários</a>
              <a class="dropdown-item" routerLinkActive="active" href="#">Setores</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLinkActive="active" href="#">Movimentos</a>
              <a class="dropdown-item" routerLinkActive="active" href="#">Processos</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br/><br/><br/>
