<!-- Fixed navbar -->
<app-navbar></app-navbar>
<!-- Begin page content -->
<router-outlet></router-outlet>
<!-- messages -->
<app-messages></app-messages>
<!-- Fixed navbar
<app-footer></app-footer>
-->
<!--
<app-usuarios></app-usuarios>
-->
