/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@import '~font-awesome/css/font-awesome.min.css';
@import '~primeflex/primeflex.css';
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
@import '~primeng/resources/primeng.min.css';

body {
  margin: 0;
  color: #404C51;
}

label {
  font-weight: bold;
}

.col-om {
  width: 110px;
  text-align: center;
}
.col-ativo {
  width: 90px;
  text-align: center;
}
